.nav {
  &-wrapper {
    @include span-columns(12);
    @include clearfix;
    width:100%;
    padding:1em;
  }
  &-logo {
    @include span-columns(6 of 12);

    >img {
      @include size(14em auto);
    }
  }
  &-links {
    @include span-columns(6 of 12);

    ul {
      text-align: right;
    }

    li {
      @include custom-text($monospace, 0.9em, uppercase, $color-text-dark);
      display:inline;
      text-decoration:none;
      text-align:center;
      padding-right: 2em;

      &:nth-child(5){
        border: 2px solid $color-text-dark;
        padding: 0.5em 1em 0.5em 1em;
        font-weight:bold;
      }
    }
  }
}

.main {
  &-banner {
    @include span-columns(12);
    background:
      linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)),
      url('../img/banner.jpg');
    background-size:100%;
  }

  &-pitch {
    @include custom-text($stack-sans-serif, 2.2em, uppercase, $color-text-light);
    font-weight:bold;
    text-align:center;
    padding:11% 25% 11% 25%;

      img {
        @include buttonize($color-btn-blue);
      }
    }
}
