//Mixins
@mixin custom-text($family, $size, $transformation, $color) {
  font-family: $family;
  font-size: $size;
  text-transform: $transformation;
  color: $color;
}

@mixin buttonize($bg-color) {
  border: 1px solid $bg-color;
  background-color: $bg-color;
  padding:0.5em 1.5em 0.5em 1.5em;
}
