//Descriptive color variables
$white      : #fff;
$darkgray   : #404040;
$blue       : #0080FF;
$navyblue   : #323299;
$aqua       : #00CDCD;

//Functional color variables
$color-text-light   : $white;
$color-text-medium  : lighten($darkgray, 35%);
$color-text-dark    : $darkgray;
$color-text-title   : $navyblue;

$color-bg-basic     : $white;
$color-bg-contact   : lighten($darkgray, 10%);
$color-bg-footer    : $darkgray;

$color-btn-blue     : $blue;
$color-btn-teal     : $aqua;

//Font stacks
$stack-sans-serif : 'Open Sans', sans-serif;

//Asset paths
$path-img : '../img';
